*{
 margin: 0;
 padding: 0;
}
body{
background-color: cornflowerblue;    
}
/*-----------------------------------------estilo menu navegacion--------------*/
.header{
padding: 20px;
text-align: center;

width: 100%;
}
#nav{

margin: auto;
}

#nav a{
    color: white;
    text-decoration: none;   
}
#nav li{
text-align: center;
background-color: black;
position: relative;
display: inline-block;    
color: white;
padding: 10px;
outline: none;    
text-transform: uppercase;
width: 100px;
}

#nav li ul{
    
    display: none;
}

#nav li:hover {
  background-color: rgb(95, 95, 95);
}

#nav li:hover ul{
    
    display:block;
    position: absolute;
    right:0;
    top:35px;
}

.contenedor{
display: flex;
}
/*-------------------------------------estilos barra lateral--------------*/
.lateralIzquierdo{
    padding: 10px;
    border-right: 1px solid black;
    border-top: 1px solid black;
    width:10%;
    
}
.contenedor-contenido{
    padding: 10px;
    width: 90%;
    border-top: 1px solid black;
}
.footer{
    background-color: black;
    color: white;
    height: 70px;
}
